{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Welcome to PT. Frina Lestari Nusantara</title>
	<style>
		body {
			width: 1920px;
			height: 1080px;
			margin: 0;
			padding: 0;
		}
		.logo {
			float: left;
			margin: 20px;
		}
		.header {
			margin-top: 50px;
			text-align: center;
			font-size: 36px;
		}
	</style>
</head>
<body>
	<img class="logo" src="{% static 'logo.png' %}" alt="PT. Frina Lestari Nusantara Logo">
	<h1 class="header">Welcome to PT. Frina Lestari Nusantara</h1>
	<p>Vice President, Head of Purchasing Division
        Mr. LEE Gyuseok</p>
</body>
</html>
